.header__banner {
  background: url('../../public/images/header_banner_mobile.png') no-repeat
    center center/cover;
  width: 100%;
  height: 235px;
}

.header__banner_overlay {
  background: linear-gradient(80deg, #003b74, rgba(196, 196, 196, 0));
  min-width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header__banner_heading {
  max-width: 250px;
  font-weight: 750;
  font-size: 22px;
  line-height: 114.5%;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.header__banner_text {
  max-width: 290px;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  margin-bottom: 12px;
}

.button {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  .header__banner {
    background: url('../../public/images/header_banner_laptop.png') no-repeat
      center center/cover;
    height: 309px;
  }
  .header__banner_overlay {
    padding-top: 70px;
    padding-left: 30px;
    align-items: flex-start;
  }
  .header__banner_heading {
    text-align: start;
    max-width: 350px;
    margin-bottom: 15px;
  }
  .header__banner_text {
    text-align: start;
    margin-bottom: 25px;
    max-width: 315px;
  }
}

@media screen and (min-width: 768px) {
  .header__banner {
    height: 409px;
  }
  .header__banner_overlay {
    align-items: flex-start;
    padding-top: 70px;
    padding-left: 30px;
  }
  .header__banner_heading {
    text-align: start;
    max-width: 350px;
    font-size: 40px;
    margin-bottom: 25px;
  }
  .header__banner_text {
    text-align: start;
    margin-bottom: 25px;
    font-size: 16px;
    max-width: 315px;
  }
}
@media screen and (min-width: 1024px) {
  .header__banner {
    height: 668px;
    background: url('../../public/images/header_banner_desktop.png') no-repeat
      center center/cover;
    max-width: 1600px;
    margin: 0 auto;
  }
  .header__banner_overlay {
    padding-left: 100px;
  }
  .header__banner_overlay {
    align-items: flex-start;
    padding-top: 170px;
    max-width: 1600px;
  }
  .header__banner_heading {
    max-width: 398px;
    font-size: 60px;
    line-height: 106.5%;
  }

  .header__banner_text {
    font-size: 22px;
    line-height: 160%;
    max-width: 520px;
  }
  .button {
    font-size: 22px;
  }
}
