.section__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.section__image {
  background: url('../../public/images/doctor_ellen_mobile.png') no-repeat
    center;
  min-width: 100%;
  height: 248px;
  margin: 0 auto;
  margin-block-end: 20px;
  display: block;
}

.section__image_dots {
  display: none;
}

.section__image_lines {
  display: none;
}

.section__heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 106.5%;
  margin-bottom: 10px;
}

.section__text {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 20px;
}

.section__text_span {
  display: block;
  font-weight: 700;
}

.section__text:last-child {
  margin-bottom: 0;
}

.button {
  font-size: 12px;
}

@media screen and (min-width: 450px) {
  .section__image {
    background: url('../../public/images/doctor_ellen_tablet.png') no-repeat
      center;
    height: 386px;
  }
}

@media screen and (min-width: 768px) {
  .section__container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  .section__image {
    margin-bottom: 0;
    height: 386px;
  }
  .section__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 106.5%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    padding: 80px 100px;
    gap: 25px;
  }
  .section__heading {
    font-size: 30px;
  }
  .section__text {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .button {
    font-size: 14px;
  }
  .section__image_dots {
    background: url('../../public/images/dots_doctor.svg') no-repeat center;
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 176px;
    height: 191px;
    z-index: -1;
  }
  .section__image_lines {
    background: url('../../public/images/round_lines_doctor.svg') no-repeat
      center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    height: 712px;
    z-index: -1;
  }
}

@media screen and (min-width: 1280px) {
  .section__container {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .section__image {
    background: url('../../public/images/doctor_ellen_desktop.jpg') no-repeat
      center center/cover;
    height: 583px;
  }
  .section__heading {
    font-size: 30px;
  }
  .section__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .button {
    font-size: 20px;
  }
}
