.section__heading {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 106.5%;
  text-align: center;
  padding: 20px;
}

.section__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 20px;
  position: relative;
  background: #f8fbfe;
  margin-bottom: 20px;
}

.section__container:last-child {
  margin-bottom: 0;
}

.section__container_image_dots {
  display: none;
}

.section__container_image_lines {
  display: none;
}

.section__container_image {
  background: url('../../public/images/doctor_ellen_mobile.png') no-repeat
    center;
  min-width: 100%;
  height: 248px;
  margin: 0 auto;
  margin-block-end: 20px;
  display: block;
  border-radius: 10px;
}

.text__container_heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 106.5%;
  margin-bottom: 10px;
}

.text__container_text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

.text__container_text_span {
  display: block;
  font-weight: 700;
}

.text__container_text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 350px) {
  .section__container {
    padding: 30px;
  }
}

@media screen and (min-width: 450px) {
  .section__container_image {
    background: url('../../public/images/doctor_ellen_tablet.png') no-repeat
      center;
    height: 386px;
  }
}

@media screen and (min-width: 768px) {
  .section__heading {
    font-size: 27px;
  }
  .section__container_image {
    min-width: 48%;
    height: 386px;
    margin-bottom: 40px;
  }
  .text__container {
    max-width: 720px;
    margin: 0 auto;
  }
  .text__container_heading {
    font-weight: bold;
    font-size: 24px;
  }
  .text__container_text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    padding: 60px 100px;
  }
  .section__heading {
    font-size: 60px;
  }
  .section__container_image {
    background: url('../../public/images/doctor_ellen_desktop.jpg') no-repeat
      center center/cover;
    height: 760px;
  }
  .text__container {
    max-width: 1050px;
  }
  .text__container_heading {
    font-size: 40px;
  }
  .text__container_text {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .section__container {
    padding: 100px;
  }
  .text__container {
    max-width: 100%;
  }
  .section__container_image {
    height: 960px;
  }
  .text__container_text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
