.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
}

.button {
  border: none;
  cursor: pointer;
  background: #3393f0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
  transition: all 0.3s linear;
  text-align: center;
  width: 200px;
}

.button:hover {
  background-color: #02509e;
}

.section__heading {
  font-size: 20px;
  line-height: 106.5%;
  margin-bottom: 10px;
  text-align: center;
}

.section__text {
  font-size: 16px;
  text-align: center;
  line-height: 130%;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section__image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
}

.image {
  border-radius: 20px;
}

.section__square {
  background: url('../../public/images/new_patients_dots.svg') no-repeat center;
  width: 71px;
  height: 78px;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: -1;
}
.section__circle {
  background: url('../../public/images/new_patients_circle.svg') no-repeat
    center;
  width: 105px;
  height: 105px;
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: -1;
  border-radius: 50%;
}

.section__star_green {
  background: url('../../public/images/star_green.svg') no-repeat center;
  width: 9px;
  height: 11px;
  position: absolute;
  top: -20px;
  left: 60px;
}

.section__star_red_left {
  background: url('../../public/images/star_red.svg') no-repeat center;
  width: 9px;
  height: 11px;
  position: absolute;
  top: 130px;
  left: -15px;
}

.section__star_red_right {
  background: url('../../public/images/star_red.svg') no-repeat center;
  width: 9px;
  height: 11px;
  position: absolute;
  top: 80px;
  right: -15px;
}

.grid__item_image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.grid__item_heading {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 10px;
  padding: 0 20px;
}

.grid__item_text {
  font-size: 16px;
  line-height: 160%;
  padding: 0 20px;
}

.grid__item_container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
  .section__heading {
    font-size: 40px;
  }
  .section__text {
    font-size: 24px;
    max-width: 500px;
  }
  .section__image {
    max-width: 70%;
  }
  .section__square {
    top: -30px;
    right: -30px;
  }
  .section__circle {
    left: -40px;
    bottom: -40px;
  }
  .grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1180px;
    margin: 0 auto;
  }
  .grid__item_heading {
    padding: 0;
    font-size: 16px;
  }
  .grid__item_text {
    padding: 0;
  }
  .button {
    font-size: 24px;
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .section__heading {
    font-size: 60px;
  }
  .section__text {
    font-size: 32px;
    max-width: 700px;
  }
  .grid__item_heading {
    font-size: 22px;
  }
  .grid__item_text {
    font-size: 18px;
  }
  .section__square {
    display: none;
  }
  .section__circle,
  .section__star_green,
  .section__star_red_left,
  .section__star_red_right {
    display: none;
  }
}
