.section {
  max-width: 1600px;
  margin: 0 auto;
  background: #f8fbfe;
  padding: 20px;
}
.form__container_heading {
  display: none;
}

.form__container_text {
  display: none;
}

.section__heading {
  font-size: 22px;
  line-height: 106.5%;
  margin-bottom: 10px;
  text-align: center;
}

.section__text {
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  opacity: 0.8;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section__container_image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.image {
  border-radius: 20px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form__label {
  opacity: 0.8;
  margin-left: 5px;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid #3393f0;
}

.form__textarea {
  min-height: 100px;
  margin-bottom: 20px;
  resize: none;
  max-width: 100%;
}

.inputs__group_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.form__textarea {
  width: 100%;
}

.form__button {
  border: none;
  cursor: pointer;
  background: #3393f0;
  color: #fff;
  border-radius: 100px;
  display: block;
  width: 100%;
  padding: 15px;
  transition: all 0.3s linear;
  font-size: 16px;
}

.form__button:hover {
  background-color: #02509e;
}

.form__button_disabled {
  border: none;
  cursor: not-allowed;
  background: rgb(185, 185, 185);
  color: #fff;
  border-radius: 100px;
  display: block;
  width: 100%;
  padding: 15px;
  transition: all 0.3s linear;
  font-size: 16px;
}

.error {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #3393f0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
  .section__heading {
    font-size: 40px;
  }
  .section__text {
    font-size: 24px;
    max-width: 500px;
  }
  .section__container_image {
    max-width: 70%;
    margin-bottom: 40px;
  }
  .form {
    max-width: 70%;
  }
  .form__textarea {
    min-height: 150px;
  }
  .inputs__group_container {
    gap: 60px;
  }
  .form__label,
  .form__input,
  .form__textarea {
    font-size: 22px;
  }
  .form__button {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 40px;
  }
  .section__heading {
    font-size: 60px;
  }
  .section__container_image {
    max-width: 80%;
  }
  .form {
    min-width: 80%;
  }
  .form__label,
  .form__input,
  .form__textarea {
    font-size: 26px;
  }
  .form__button {
    font-size: 26px;
  }
  .form__button_disabled {
    font-size: 26px;
    max-width: 400px;
    margin: 0 auto;
  }
}
