.section {
  background: #f8fbfe;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.section__heading {
  font-size: 22px;
  line-height: 106.5%;
  margin-bottom: 10px;
  text-align: center;
}

.section__text {
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  opacity: 0.8;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section__image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.image {
  border-radius: 20px;
}

.section__list {
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
}

.section__list_item {
  margin-bottom: 20px;
}

.section__list_item:last-child {
  margin-bottom: 0;
}

.section__list_item_text {
  font-size: 16px;
  text-align: start;
  text-align: start;
}

.section__list_item_text_span {
  color: #3393f0;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {
  .section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
  .image_text__container {
    display: flex;
  }
  .section__image {
    max-width: 60%;
    margin-right: 30px;
  }
  .section__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .section__list_item {
    margin: 0;
  }
  .section__list_item_text {
    font-size: 18px;
    min-width: 225px;
  }

  .section__list_item_text_span {
    color: #3393f0;
    margin-right: 5px;
  }
  .section__heading {
    font-size: 40px;
  }

  .section__text {
    font-size: 24px;
    max-width: 600px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 40px;
  }
  .section__heading {
    font-size: 60px;
  }
  .section__text {
    font-size: 32px;
    min-width: 800px;
    margin-bottom: 40px;
  }
  .section__image {
    margin-bottom: 20px;
  }
  .section__list_item_text {
    font-size: 28px;
    min-width: 310px;
  }
}
