.section {
  max-width: 1600px;
  margin: 0 auto;
  background: #f8fbfe;
  padding: 20px;
}

.section__heading {
  font-size: 21px;
  line-height: 106.5%;
  text-align: center;
  margin-bottom: 10px;
}

.section__text {
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  margin-bottom: 30px;
}

.carousel__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 450px;
  min-height: 160px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 3px 4px 107px rgba(0, 0, 0, 0.05);
}

.image {
  margin: 0 auto;
  margin-bottom: 10px;
}

.stars {
  color: gold;
  display: inline-block;
  font-size: 18px;
}

.carousel__heading {
  font-size: 16px;
  margin-bottom: 10px;
}

.carousel__text {
  font-size: 14px;
  opacity: 0.7;
}

.carousel__quotes {
  padding-top: 25px;
  width: 40px;
  height: 40px;
  background: #3393f0;
  color: #fff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 2;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
  .section__heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .section__text {
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    margin-bottom: 20px;
  }

  .stars {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .carousel__item {
    min-height: 300px;
    max-width: 900px;
  }
  .carousel__heading {
    font-size: 30px;
  }
  .carousel__text {
    font-size: 26px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 160%;
  }
  .carousel__quotes {
    width: 60px;
    height: 60px;
  }
}
