.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0;
  background: #f8fbfe;
}

.section__heading {
  font-size: 22px;
  line-height: 106.5%;
  margin-bottom: 10px;
  text-align: center;
}

.section__text {
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  opacity: 0.8;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #17224d;
  opacity: 0.8;
}

.section__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 15px;
  max-width: 351px;
  margin: 0 auto;
}

.section__list_item {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #17224d;
  opacity: 0.8;
  cursor: pointer;
  transition: color 0.3s linear;
}

.section__list_item:hover {
  color: #3393f0;
}

.active {
  border-bottom: 3px solid #3393f0;
  color: #3393f0;
}

.section__grid_mobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 351px;
  margin: 0 auto;
}

.section__grid_image {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .section__heading {
    font-size: 40px;
  }
  .section__text {
    font-size: 24px;
    max-width: 500px;
  }
  .section__list {
    max-width: 600px;
  }
  .section__list_item {
    font-size: 20px;
  }
  .section__grid_mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .section__heading {
    font-size: 60px;
  }
  .section__text {
    font-size: 32px;
    max-width: 700px;
  }
  .section__list_item {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section__list {
    margin-bottom: 30px;
  }
  .section__list_item {
    font-size: 20px;
  }
  .section__grid_mobile {
    min-width: 1100px;
    height: 600px;
    gap: 30px;
  }
}
