.footer {
  width: 100%;
  background: #3393f0;
}

.footer__container {
  padding: 20px;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 163.2%;
  margin-bottom: 20px;
  transition: all 0.5s linear;
}

.footer__logo:hover {
  color: #fff;
}

.footer__logo_span {
  margin-left: 5px;
  color: #fff;
  transition: all 0.3s linear;
}

.footer__logo__image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url('../../public/images/white_logo.png') no-repeat center
    center/cover;
}

.social__icons_list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}

.social__icons_list_item {
  margin-right: 10px;
}

.social__icons_list_item:last-child {
  margin-right: 0;
}

.social__icons_list_item_icon {
  width: 40px;
  height: 40px;
  transform: scale(1.1);
  display: flex;
  transition: all 0.5s linear;
}

.facebook {
  background: url('../../public/images/facebook_icon.svg') no-repeat center;
}
.instagram {
  background: url('../../public/images/instagram_icon.svg') no-repeat center;
}

.social__icons_list_item_icon:hover {
  transform: scale(1.5);
}

.contact__list {
  list-style: none;
  text-align: center;
}

.contact__location {
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.contact__heading {
  line-height: 49px;
  font-size: 24px;
}

.contact__text {
  line-height: 24px;
  margin-bottom: 10px;
}

.contact__phone {
  display: block;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.5s linear;
}

.contact__phone:hover {
  transform: scale(1.2);
}

.contact__email {
  display: block;
  line-height: 24px;
  color: #fff;
  transition: all 0.5s linear;
}

.contact__email:hover {
  transform: scale(1.2);
}

.copyright__container {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  padding: 0 20px;
}

.copyright {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .contact__container {
    display: flex;
    margin-bottom: 30px;
  }
  .contact__location {
    margin: 0 auto;
    width: 40%;
  }
  .footer__logo {
    font-size: 30px;
    line-height: 49px;
    margin-bottom: 10px;
  }
  .social__icons_list {
    margin-bottom: 20px;
  }
  .social__icons_list_item_icon {
    transform: scale(1.3);
    display: flex;
    transition: all 0.5s linear;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 1600px;
    margin: 0 auto;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__location {
    margin: 0 auto;
    width: 42%;
  }
  .contact__container {
    margin-bottom: 0;
  }
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
  }
  .footer__logo_span {
    margin-left: 10px;
  }
  .footer__logo__image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__container {
    justify-content: space-evenly;
  }
  .contact__location {
    display: block;
  }
  .contact__location {
    width: 35%;
  }
}
