.section {
  background: #f8fbfe;
  max-width: 1600px;
  margin: 0 auto;
}

.section__background_image {
  background: url('../../public/images/treatments__background_mobile.png')
    no-repeat center center/cover;
  width: 100%;
  min-width: 100%;
  height: 124px;
}

.section__background_overlay {
  width: 100%;
  height: 100%;
  background: rgba(16, 57, 115, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__heading {
  font-size: 22px;
  line-height: 106.5%;
  font-weight: 700;
  margin-bottom: 12px;
}

.section__text {
  font-size: 16px;
  line-height: 170%;
  opacity: 0.8;
  max-width: 260px;
}

.list {
  padding: 20px;
  list-style: none;
  text-align: center;
}

.list__item {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 4px 107px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin-bottom: 20px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.emergency {
  background: url('../../public/images/treatments_icons/emergency_icon.svg')
    no-repeat center center/cover;
}

.dentures {
  background: url('../../public/images/treatments_icons/dentures_icon.svg')
    no-repeat center center/cover;
}

.implants {
  background: url('../../public/images/treatments_icons/implants_icon.svg')
    no-repeat center center/cover;
}

.whitening {
  background: url('../../public/images/treatments_icons/whitening_icon.svg')
    no-repeat center center/cover;
}

.cosmetics {
  background: url('../../public/images/treatments_icons/cosmetics_icon.svg')
    no-repeat center center/cover;
}

.crown {
  background: url('../../public/images/treatments_icons/crown_icon.svg')
    no-repeat center center/cover;
}

.filling {
  background: url('../../public/images/treatments_icons/filling_icon.svg')
    no-repeat center center/cover;
}

.cleaning {
  background: url('../../public/images/treatments_icons/cleaning_icon.svg')
    no-repeat center center/cover;
}

.root_canal {
  background: url('../../public/images/treatments_icons/root_canal_icon.svg')
    no-repeat center center/cover;
}

.list__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.list__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 8px;
}

.list__text {
  font-size: 16px;
  line-height: 170%;
}

@media screen and (min-width: 450px) {
  .section__background_image {
    height: 224px;
  }
}

@media screen and (min-width: 768px) {
  .section__background_overlay {
    justify-content: start;
    padding-top: 40px;
  }
  .section__background_image {
    background: url('../../public/images/treatments__background_tablet.png')
      no-repeat center;
    height: 334px;
  }
  .section__heading {
    font-size: 40px;
  }
  .section__text {
    font-size: 24px;
    max-width: 400px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: -140px;
    padding: 40px;
  }
  .list__item {
    margin-bottom: 0;
    padding: 20px 10px;
  }
  .list__icon {
    margin-bottom: 5px;
  }
  .list__heading {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section__background_overlay {
    padding-top: 130px;
  }
  .section__background_image {
    background: url('../../public/images/treatments__background_desktop.png')
      no-repeat center;
    height: 443px;
  }
  .section__heading {
    font-size: 60px;
  }
  .section__text {
    font-size: 22px;
    max-width: 350px;
  }
  .list {
    margin-top: -150px;
  }
  .list__item {
    padding: 40px 25px;
  }
  .list__heading {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .list__icon {
    width: 39px;
    height: 39px;
  }
  .list__heading {
    font-size: 30px;
  }
  .list__text {
    font-size: 22px;
  }
}
