.section__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.section__container_image_dots {
  display: none;
}

.section__container_image_lines {
  display: none;
}

.section__container_image {
  background: url('../../public/images/doctor_ellen_mobile.png') no-repeat
    center;
  min-width: 100%;
  height: 248px;
  margin: 0 auto;
  margin-block-end: 20px;
  display: block;
}

.text__container_heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 106.5%;
  margin-bottom: 10px;
}

.text__container_text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 20px;
}

.text__container_text_span {
  display: block;
  font-weight: 700;
}

.text__container_text:last-child {
  margin-bottom: 0;
}

.button {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  .section__container_image {
    background: url('../../public/images/doctor_ellen_tablet.png') no-repeat
      center;
    height: 386px;
  }
}

@media screen and (min-width: 768px) {
  .section__container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .section__container_image {
    margin-bottom: 0;
    min-width: 50%;
    height: 386px;
    margin-right: 20px;
  }
  .text__container_heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 106.5%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    padding: 80px 100px;
  }
  .section__container_image {
    background: url('../../public/images/doctor_ellen_desktop.jpg') no-repeat
      center center/cover;
    margin-right: 30px;
    min-height: 510px;
  }
  .text__container_heading {
    font-size: 40px;
  }
  .text__container_text {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .button {
    font-size: 20px;
  }
  .section__container_image_dots {
    background: url('../../public/images/dots_doctor.svg') no-repeat center;
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 176px;
    height: 191px;
    z-index: -1;
  }
  .section__container_image_lines {
    background: url('../../public/images/round_lines_doctor.svg') no-repeat
      center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 816px;
    height: 712px;
    z-index: -1;
  }
}

@media screen and (min-width: 1280px) {
  .section__container {
    padding: 100px;
  }
  .section__container_image {
    height: 583px;
    margin-right: 40px;
  }
  .text__container_text {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .button {
    font-size: 24px;
  }
}
