.header__banner {
  background: url('../public/images/header_banner_mobile.png') no-repeat center
    center/cover;
  width: 100%;
  height: 235px;
  margin-top: 48px;
}

.header__banner_overlay {
  background: linear-gradient(80deg, #003b74, rgba(196, 196, 196, 0));
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header__banner_heading {
  max-width: 250px;
  font-weight: 750;
  font-size: 22px;
  line-height: 114.5%;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.header__banner_text {
  max-width: 250px;
  font-size: 12px;
  line-height: 188%;
  text-align: center;
  margin-bottom: 18px;
}

.button {
  font-size: 12px;
  margin-bottom: 20px;
}

@media screen and (min-width: 430px) {
  .header__banner {
    max-width: 100%;
    min-height: 309px;
  }
}

@media screen and (min-width: 600px) {
  .header__banner {
    max-width: 100%;
    min-height: 409px;
  }
}

@media screen and (min-width: 768px) {
  .header__banner {
    max-width: 100%;
    min-height: 409px;
    margin-top: 98px;
    background: url('../public/images/header_banner_laptop.png') no-repeat
      center center/cover;
  }
  .header__banner_overlay {
    align-items: flex-start;
    padding-top: 112px;
    padding-left: 60px;
  }
  .header__banner_heading {
    text-align: start;
    max-width: 350px;
    font-size: 40px;
    margin-bottom: 25px;
  }
  .header__banner_text {
    text-align: start;
    margin-bottom: 25px;
    font-size: 14px;
    max-width: 315px;
  }
  .button {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .header__banner {
    margin-top: 142px;
    height: 466px;
  }
  .header__banner_overlay {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1140px) {
  .header__banner {
    height: 466px;
  }
}

@media screen and (min-width: 1280px) {
  .header__banner {
    max-width: 1600px;
    height: 668px;
    margin: 0 auto;
    margin-top: 142px;
  }
  .header__banner_overlay {
    align-items: flex-start;
    padding-top: 170px;
    max-width: 1600px;
  }
  .header__banner_heading {
    max-width: 398px;
    font-size: 60px;
    line-height: 106.5%;
  }

  .header__banner_text {
    font-size: 16px;
    line-height: 170%;
    max-width: 500px;
  }
  .button {
    font-size: 16px;
  }
}
