.button {
  border: none;
  cursor: pointer;
  background: #3393f0;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #02509e;
}
