.lines__image {
  background: url('../public/images/round_lines_doctor.svg');
  width: 816px;
  height: 712px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dotes__image {
  background: url('../public/images/dots_doctor.svg');
  width: 176px;
  height: 191px;
  position: absolute;
  top: 52px;
  left: 131px;
  z-index: -1;
}

.doctor__image {
  background: url('../public//images/doctor_ellen.jpg') no-repeat center
    center/cover;
  min-width: 652px;
  height: 483px;
}

.heading {
  display: inline-block;
  font-size: 40px;
  font-weight: 700px;
  line-height: 42.6px;
  margin-bottom: 5px;
}

.text__span {
  font-weight: 700;
  margin-right: 10px;
  line-height: 27.2px;
}

.text {
  line-height: 27.2px;
  margin-bottom: 20px;
}

.text:nth-child(4) {
  margin-bottom: 31px;
}

@media screen and (max-width: 1280px) {
  .doctor__image {
    background: url('../public/images/doctor_ellen_1280.jpg') no-repeat center
      center/cover;
    min-width: 439px;
    height: 386px;
  }
  .heading {
    font-size: 30px;
    line-height: 31.95px;
    margin-bottom: 13px;
  }
  .text__span {
    font-size: 14px;
    line-height: 23.8px;
  }
  .text {
    font-size: 14px;
    line-height: 23.8px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 1010px) {
  .heading {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .text__span {
    font-size: 14px;
    line-height: 24px;
  }
  .text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .lines__image {
    display: none;
  }
  .dotes__image {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .doctor__image {
    background: url('../public/images/doctor_ellen_mobile.png') no-repeat center
      center/cover;
    max-width: 351px;
    min-height: 248px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 650px) {
  .heading {
    font-size: 16px;
    line-height: 17px;
  }
  .text__span {
    font-size: 12px;
    line-height: 13.6px;
  }
  .text {
    font-size: 12px;
    line-height: 20.6px;
  }
  .doctor__image {
    min-width: 300px;
    max-height: 200px;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}
