.footer {
  width: 100%;
  max-width: 1600px;
  background: #3393f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CopyRight */
.copyright__container {
  width: 100%;
  height: 73px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #fff;
}

.container {
  padding: 40px 160px 40px 160px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

/* Logo and Icons */
.logo__container {
}

.logo__container_list {
  list-style: none;
  display: flex;
}

.logo__image {
  margin-right: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 750;
  line-height: 49px;
  margin-bottom: 25px;
  transition: all 0.3s linear;
}

.logo_span {
  color: #fff;
  margin-left: 10px;
}

.logo:hover {
  color: #fff;
}

.logo__container_social {
  margin-right: 20px;
  display: block;
}

.image {
  transition: all 0.6s linear;
}

.image:hover {
  transform: rotate(360deg);
}

.social__item {
  transition: all 0.6s linear;
}

.social__item:hover {
  transform: scale(1.2);
}

.contact__list {
  color: #fff;
  max-width: 260px;
}

.contact__heading {
  line-height: 49px;
  font-size: 24px;
  margin-bottom: 25px;
}

.contact__address {
  line-height: 24px;
  margin-bottom: 20px;
}

.contact__phone {
  line-height: 24px;
  margin-bottom: 10px;
  display: block;
  transition: all 0.3s linear;
}

.contact__phone:hover {
  font-size: 17px;
}

.contact__email {
  line-height: 24px;
  display: block;
  transition: all 0.3s linear;
}

.contact__email:hover {
  font-size: 17px;
}

@media screen and (max-width: 1230px) {
  .logo {
    font-size: 24px;
  }
  .contact__heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 1110px) {
  .logo {
    font-size: 20px;
  }
  .contact__heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 1090px) {
  .container {
    padding: 40px 60px 40px 60px;
  }
  .logo {
    font-size: 20px;
  }
  .contact__heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .logo__container {
    justify-content: center;
    margin-bottom: 20px;
  }
  .logo__container_list {
    justify-content: center;
  }
  .contact__heading {
    line-height: 24px;
    margin-bottom: 10px;
  }
  .contact__address {
    margin-bottom: 10px;
  }
  .contact__email {
    margin-bottom: 30px;
  }
  .contact_email_last {
    margin-bottom: 0;
  }
  .container {
    padding: 30px;
  }
}

@media screen and (max-width: 360px) {
  .copyright__container {
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 24px;
  }
}
