.header {
  min-height: 3000px;
  position: relative;
}

.navbar {
  background: #262626;
  min-height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo__image {
  margin-right: 10px;
}

.logo__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 163.2%;
}

.logo__text_span {
  color: #3393f0;
}

/* Hamburger */
.hamburger__menu {
  width: 24px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__menu_before {
  background: #fff;
  color: #fff;
  height: 3px;
  border-radius: 5px;
}
.hamburger__menu_present {
  background: #fff;
  color: #fff;
  height: 3px;
  border-radius: 5px;
}
.hamburger__menu_after {
  background: #fff;
  color: #fff;
  height: 3px;
  border-radius: 5px;
}
