.header {
  min-height: 3000px;
  position: relative;
}

.navbar {
  background: #262626;
  min-height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo__image {
  margin-right: 10px;
}

.logo__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 163.2%;
}

.logo__text_span {
  color: #3393f0;
}

/* Hamburger */
.hamburger__menu {
  /* background: green; */
  /* border: 1px solid red; */
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 21px;
  transition: all 0.5s linear;
  z-index: 1;
}

.hamburger__menu_before {
  background: #fff;
  color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  transition: all 0.5s linear;
}
.hamburger__menu_present {
  background: #fff;
  color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s linear;
}
.hamburger__menu_after {
  background: #fff;
  color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s linear;
}

.open .hamburger__menu_before {
  top: 50%;
  transform: rotate(45deg);
}

.open .hamburger__menu_after {
  top: 50%;
  transform: rotate(-45deg);
}

.open .hamburger__menu_present {
  display: none;
}

/* Nav bar List */
.navbar__list {
  overflow-y: scroll;
  position: absolute;
  background: #262626;
  top: 48px;
  left: 0;
  width: 100vw;
  height: 100vh;
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  /* transform: translateY(-120vh); */
  opacity: 0;
  transition: all 0.5s linear;
}

.show {
  /* transform: translateY(0); */
  opacity: 1;
  transition: all 0.5s linear;
}

.navbar__list_item {
  padding: 18px 0;
}

.navbar__list_link {
  color: #fff;
}
