.banner {
  width: 100%;
  min-height: 660px;
  background: url(../public/images/home_banner.jpg) no-repeat center
    center/cover;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(80deg, #003b74, rgba(196, 196, 196, 0));
  padding: 170px 160px;
}

.container {
  max-width: 480px;
}

.heading {
  margin: 0;
  font-size: 60px;
  font-weight: 750;
  line-height: 64px;
  color: #fff;
  padding-bottom: 10px;
}

.text {
  color: #fff;
  line-height: 27px;
  padding-bottom: 40px;
}

.button {
  background: #3393f0;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #02509e;
}

@media screen and (max-width: 768px) {
  .overlay {
    text-align: center;
    padding: 170px 20px;
  }
  .container {
    max-width: 430px;
    margin: 0 auto;
  }
  .heading {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 510px) {
  .banner {
    width: 100%;
    min-height: 660px;
    background: url(../public/images/home_banner_mobile.jpg) no-repeat center
      center/cover;
    position: relative;
  }
  .heading {
    padding-bottom: 50px;
  }
}

@media screen and (orientation: landscape) and (max-width: 823px) {
  .banner {
    display: none;
  }
}
