.container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) and (max-width: 823px) {
  .container {
    display: flex;
  }
  .text {
    color: #fff;
    margin: 0 auto;
    max-width: 400px;
    line-height: 30px;
  }
}
