.container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (orientation: landscape) and (max-width: 823px) {
  .container {
    display: flex;
  }
  .text {
    color: #fff;
    margin: 0 auto;
    margin-top: 175px;
    max-width: 400px;
    line-height: 30px;
  }
}
