.section {
  padding: 60px 0 0 0;
}

.heading__container {
  max-width: 541px;
  text-align: center;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 106.5%;
  margin-bottom: 12px;
}

.text {
  font-size: 16px;
  line-height: 170%;
  opacity: 0.8;
  margin-bottom: 20px;
}

.content__container {
  padding: 100px 160px;
  /* margin-top: 50px; */
  background: #f8fbfe;
  display: flex;
  flex-direction: row-reverse;
  /* border: 1px solid red; */
}

.content__container_reversed {
  flex-direction: row;
}

.doctor__image {
  background: url('../public/images/doctor_ellen.jpg') no-repeat center
    center/cover;
  min-width: 595px;
  height: 575px;
  margin-left: 90px;
  width: 100%;
}

.doctor__image_nikki {
  margin-left: 0;
  margin-right: 90px;
}

.text__container_heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 106.5%;
  margin-bottom: 20px;
}

.text__container_text {
  font-size: 16px;
  line-height: 170%;
  opacity: 0.8;
  margin-bottom: 20px;
}

.text__container_author {
  font-size: 16px;
  line-height: 170%;
  opacity: 0.8;
}

/* Responsive */
@media screen and (max-width: 1450px) {
  .text__container_text {
    font-size: 14px;
  }
  .text__container_author {
    font-size: 14px;
  }
  .doctor__image {
    margin-left: 40px;
  }
  .doctor__image_nikki {
    margin-left: 0;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1300px) {
  .doctor__image {
    min-width: 425px;
    height: 525px;
  }
}

@media screen and (max-width: 1140px) {
  .content__container {
    padding: 100px 60px;
  }
}

@media screen and (max-width: 950px) {
  .content__container {
    flex-direction: column;
    padding: 30px 60px;
  }
  .doctor__image {
    margin-left: 0;
    margin-bottom: 50px;
  }
  .doctor__image_nikki {
    margin-right: 0;
  }
  .text__container_heading {
    text-align: center;
  }
  .text__container_text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .heading__container {
    max-width: 485px;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .doctor__image {
    min-width: 300px;
    height: 400px;
    margin-bottom: 20px;
  }
  .content__container {
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .heading__container {
    max-width: 272px;
  }
  .heading {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .text {
    font-size: 10px;
  }
  .text__container_heading {
    font-size: 12px;
  }
  .text__container_text {
    font-size: 8px;
  }
}

@media screen and (max-width: 450px) {
  .doctor__image {
    min-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 370px) {
  .doctor__image {
    min-width: 200px;
    max-height: 200px;
  }
}
