.section {
  padding: 125px 160px;
  position: relative;
}

@media screen and (max-width: 1470px) {
  .section {
    padding: 75px 60px;
  }
}

@media screen and (max-width: 1010px) {
  .section {
    padding: 60px 30px;
  }
}

@media screen and (max-width: 950px) {
  .section {
    padding: 60px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    padding: 30px;
  }
}
